#################
# Global Ignore #
#################

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

###################
# Project Ignores #
###################



#####################
# Global Exceptions #
#####################

!.htaccess
!.gitignore
